In [9]:
#1The following is the list of 10 student ages

ages=[19,22,19,24,20,25,26,24,25,24]

#1a  Sort the list and find the min and max age
ages.sort()
min_age=ages[0]
max_age=ages[len(ages)-1]
print("After sorting of ages:",ages)
print("Minimum of age:",min_age)
print("Maximum of age:",max_age)

#1b Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Adding min age and max age to list:",ages)

#1c Find the median age (one middle item or two middle items divided by two)
length=len(ages)
if(length%2==0):
    median=(ages[(int)(length/2)]+ages[(int)((length/2)-1)])/2
else:
    median=ages[(int)((length-1)/2)]
print(" median of age: ",median)

#1d • Find the average age (sum of all items divided by their number)
avg=sum(ages)/length
print("Average age: ",avg)

#1e• Find the range of the ages (max minus min)
ages.sort()
range1=ages[len(ages)-1]-ages[0]
print("Range of age: ",range1)

After sorting of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum of age: 19
Maximum of age: 26
Adding min age and max age to list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
 median of age:  24.0
Average age:  22.75
Range of age:  7

In [13]:
#2
dog={
    'name':'alex',
    'color':'white',
    'legs':4,
    'age':6,
}
print("Creating empty dictionary:",dog)
print("\n")

student={}
student['first_name']='vijay'
student['last_name']='kamsani'
student['gender']='Male'
student['age']=24
student['marital status']='Single'
student['skills']=['Actor','Dancer']
student['country']='India'
student['city']='missori'
student['address']='warrens'
print("student dictionary: ",student)
print("\n")

print("length of the student:",len(student))
print("\n")

print("datatype of the student: ",type(student['skills']))
print("\n")

student.update({'skills':['Actor','Dancer','Singer','Rider']})
print("modifying the skill: ",student)
print("\n")

print("student keys: ",student.keys())
print("\n")

print("student values: ",student.values())

Creating empty dictionary: {'name': 'alex', 'color': 'white', 'legs': 4, 'age': 6}


student dictionary:  {'first_name': 'vijay', 'last_name': 'kamsani', 'gender': 'Male', 'age': 24, 'marital status': 'Single', 'skills': ['Actor', 'Dancer'], 'country': 'India', 'city': 'missori', 'address': 'warrens'}


length of the student: 9


datatype of the student:  <class 'list'>


modifying the skill:  {'first_name': 'vijay', 'last_name': 'kamsani', 'gender': 'Male', 'age': 24, 'marital status': 'Single', 'skills': ['Actor', 'Dancer', 'Singer', 'Rider'], 'country': 'India', 'city': 'missori', 'address': 'warrens'}


student keys:  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])


student values:  dict_values(['vijay', 'kamsani', 'Male', 24, 'Single', ['Actor', 'Dancer', 'Singer', 'Rider'], 'India', 'missori', 'warrens'])

In [14]:
#3• Create a tuple containing names of your sisters and your brothers

sisters=("Akhila","vennala","sandhya")
Brothers=("vinod","kranthi","bharath","sharath")
print("Names of the sisters: ",sisters)
print("\n")
print("Names of the brothers: ",Brothers)
print("\n")

#Join brothers and sisters tuples and assign it to siblings
siblings=sisters+Brothers
print("total sibling:",siblings)
print("\n")

print("length of the siblings:",len(siblings))
print("\n")

family_members=siblings+("shankar","Anasurya")
print("total family members: ",family_members)

Names of the sisters:  ('Akhila', 'vennala', 'sandhya')


Names of the brothers:  ('vinod', 'kranthi', 'bharath', 'sharath')


total sibling: ('Akhila', 'vennala', 'sandhya', 'vinod', 'kranthi', 'bharath', 'sharath')


length of the siblings: 7


total family members:  ('Akhila', 'vennala', 'sandhya', 'vinod', 'kranthi', 'bharath', 'sharath', 'shankar', 'Anasurya')

In [15]:
#4
it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]
print("length of the IT compinies: ",len(it_companies))
print("\n")

it_companies.add('Twitter')
print("adding twitter to it_compinies: ",it_companies)
print("\n")

it_companies.update(['TCS','Cognizant','Capgemini'])
print("inserting multiple it_compinies: ",it_companies)
print("\n")

it_companies.remove('Cognizant')
print("removing one if it_compinie: ",it_companies)
print("\n")

#what is the difference between remove and discard
#If the item to remove does not exist in the given set, "remove" will raise an error where as "discard" will not raise an error

print("joining both Aand B: ",A.union(B))
print("\n")

print("inserting A and B: ",A.intersection(B))
print("\n")

print("subset of A and B: ",A.issubset(B))
print("\n")

print("Disjoint seet of Aand B: ",A.isdisjoint(B))
print("\n")

print("joining A and B: ",A.union(B))
print("Joining B and A: ",B.union(A))
print("\n")

print("symmetric_difference between A and B: ",A.symmetric_difference(B))
print("\n")

it_companies.clear()
A.clear()
B.clear()
print("Deleting it_companies: ",it_companies)
print(A)
print(B)
print("\n")

Ages=set(age)
print(len(age))
print(len(Ages))

length of the IT compinies:  7


adding twitter to it_compinies:  {'Google', 'Oracle', 'IBM', 'Microsoft', 'Amazon', 'Facebook', 'Twitter', 'Apple'}


inserting multiple it_compinies:  {'Amazon', 'Facebook', 'Twitter', 'Oracle', 'Microsoft', 'TCS', 'Capgemini', 'Google', 'IBM', 'Cognizant', 'Apple'}


removing one if it_compinie:  {'Amazon', 'Facebook', 'Twitter', 'Oracle', 'Microsoft', 'TCS', 'Capgemini', 'Google', 'IBM', 'Apple'}


joining both Aand B:  {19, 20, 22, 24, 25, 26, 27, 28}


inserting A and B:  {19, 20, 22, 24, 25, 26}


subset of A and B:  True


Disjoint seet of Aand B:  False


joining A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
Joining B and A:  {19, 20, 22, 24, 25, 26, 27, 28}


symmetric_difference between A and B:  {27, 28}


Deleting it_companies:  set()
set()
set()


8
5

In [16]:
#5 • Calculate the area of a circle 

radius1=30
pi=3.14
area_of_circle=pi*radius1*radius1
print("the area of a circle: ",area_of_circle)

circum_of_circle=2*pi*radius1
print("the circumference of a circle: ",circum_of_circle)

radius2=(float)(input("Enter the radius:"))
area=pi*radius2*radius2
print("the area of circle: ",area)

the area of a circle:  2826.0
the circumference of a circle:  188.4
Enter the radius:23
the area of circle:  1661.06

In [17]:
#6How many unique words have been used in the sentence

str1="I am a teacher and I love to inspire and teach people"
S=(set)(str1.split())
print("unique words of sentence: ",S)
print("\n")
print("length of the words: ",len(S))

unique words of sentence:  {'people', 'and', 'to', 'a', 'inspire', 'teach', 'teacher', 'I', 'love', 'am'}


length of the words:  10

In [6]:
#7 Use a tab escape sequence to get the following lines.

print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [2]:
#8 Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
#"The area of a circle with radius 10 is 314 meters square.""

print('radius =', 10)
print('area =', 3.14, '* radius **',2)
print('\"The area of circle with radius %d is %d meter square.\"'%(radius,area))

radius = 10
area = 3.14 * radius ** 2
"The area of circle with radius 10 is 314 meter square."

In [21]:
#9 to convert LB to Kilogram
N=int(input("enter number of inputs: "))
Lbs=[]
Kgs=[]
print("enter the LBs: ")
for i in range(0,N):
    Lbs.append(int(input()))
for i in range(0,N):
    Kgs.append(0.4535*Lbs[i])
print("converting from LB to Kgs: ",Kgs)

enter number of inputs: 4
enter the LBs:
150
155
145
148
converting from LB to Kgs:  [68.025, 70.2925, 65.75750000000001, 67.118]